
body {
    display: flex;
    justify-content: center;
}


.father {
    min-height: 200px;
    background: silver;
    display: flex;
    width: 800px;
    flex-direction: column;


}

.description {
    background: slategray;
    display: flex;

}

.text {
    background: radial-gradient(coral, cornflowerblue);
    width: 200px;
    height: 250px;
}



