.header{
    width: 100%;
    height: 100px;
    background-color: #d0d0d0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header a{
    text-decoration: none;
    font-size: 20px;
    color:darkcyan;
}
/*----------------------------PAGE-------------------------*/
.main-page{
    width: 100%;
    height: 1000px;
    background-color: #695252;
}




/*----------------------------PAGE 2-------------------------*/


.main-page2{
    width: 100%;
    height: 1000px;
    background-color: #304b2d;
}