
body{
    margin:0;
}
header{
    width:100vw;
    height:34vh;
    background-color: #FEC524;
}
main{
    display:flex;
}
.box{
    width:75vw;
    display:flex;
    flex-wrap:wrap;
}
article{
    width:75vw;
    height:33vh;
    background-color: #FF8577;
}
section{
    width:25vw;
    height: 33vh;
}
section:nth-child(4){
    background-color: #dcdbdb;
}
section:nth-child(2){
    background-color: #65856E;
}
section:nth-child(3){
    background-color: #4a6873;
}
aside{
    width:25vw;
    height:66vh;
    background-color: #8f4a4a;
}
